
.passwordField {
    position: relative;
}

.passwordToggleButton {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: rgb(0, 0, 0); /* Adjust color as needed */
    cursor: pointer;
}

.resetButton {
    background-color: red;
    border-radius: 0px;
    font-size: 18px;
    font-family: 'Gupter', serif;
}
